<!doctype html> 
<html lang="fr"> 
<head> 
     <meta charset="utf-8"> 
     <title>Concessionnaire</title> 
     <link rel="stylesheet" href="css/vendors/bootstrap.min.css">
     <link rel="stylesheet" href="css/vendors/font-awesome.min.css">
     <link rel="stylesheet" href="css/style.css">
  
</head> 
<body> 
  
    
    <!--Header-->
    <header> 
          <div class="container">
            <div class="row">

              
              <!--Logo-->
              <div class="col-md-3 col-xs-12">
                <div class="logo">
                  <h2>Nissan</h2>
                </div>
              </div>

              <!--Nav-->
              <nav class="col-md-9 col-xs-12">
                <ul class="nav-list">
                   <li class="list"><a href="#">Home</a></li>
                   <li class="list"><a href="Vehicules.html">Les véhicules</a></li>
                   <li class="list"><a href="#">Offres de financement</a></li>
                   <li class="list"><a href="Contact.html">Contactez-nous</a></li>


              </nav>


            </div>
          </div>
    </header>

    <main>
      
      <section class="sections home text-center">
         
        <div class="overlay">
          <div class="container">
            <div class="home-content">
              <h3 class="home-title">Buy your cars here</h3>
              <p class="Lead home-desc">Empowering people through innovation</p>
              <a href="Contact.html">
                <button class="btn button">Buy now</button>
            </a>
              <a href="Vehicules.html"> <button class="btn button">Discover more</button></a>
            </div>
          </div>

        </div>


      </section>

      <!-- About -->
      <section class="sections about">
      
        <div class="container">

         <div class="section-header text-center">
           <h2 class="section-title">Follow us</h2>
           <div class="line"> <span></span></div>
           <p>  Copyright (c) 2024 
               All rights reserved.</p>
         </div>

        </div>

      </section>

  
    </main>

    <!--Footer-->
<section class="sections footer">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <ul class="social-icons">
                  <li><a href="https://www.facebook.com/" class="fa fa-facebook"></a></li>
                  <li><a href="https://www.youtube.com/" class="fa fa-youtube"></a></li>
                  <li><a href="https://twitter.com/?lang=en" class="fa fa-twitter"></a></li>
                  <li><a href="https://www.linkedin.com/" class="fa fa-linkedin"></a></li>
              </ul>
          </div>
      </div>
  </div>
</section>


    

    <script src="js/vendors/jquery-3.3.1.min.js"></script>
    <script src="js/vendors/bootstrap.js"></script>
    <script src="js/main.js"></script>
</body> 
</html> 